*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  font-family: 'Space Mono', monospace;
  background-color: #0d0d0d;
  color: #aaa;
}

.txt {
  border-right: 1px solid white;
  animation: blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: white;
  }

  to {
    border-right-color: transparent;
  }
}