*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Space Mono", monospace;
  background-color: #0d0d0d;
  color: #aaa;
}

.txt {
  border-right: 1px solid white;
  animation: blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: white;
  }

  to {
    border-right-color: transparent;
  }
}

.bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 25px 0;

  background-color: #e74c3c;
  color: white;

  font-family: Gelasio;
  font-size: 18px;
}

.bar_content {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateX(100%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 15s linear infinite
    /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to {
    transform: translateX(-100%);
  }
}

/* house music */

.house {
  font: bold 55px Century Gothic, Arial;
  width: 100%;
  height: 70px;
}
text {
  fill: none;
  stroke: white;
  stroke-width: 0.3px;
  stroke-linejoin: round;
  animation: 2s pulsate infinite;
}
@keyframes pulsate {
  50% {
    stroke-width: 2px;
  }
}
@media screen and (max-width: 800px) {
  .house {
    height: 23px;
    margin-bottom: 20px;
  }
}
