@import "_base";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&display=swap');

.animate__animated.animate__fadeInUp {
    --animate-duration: 1.5s;
    --animate-delay: 12s;
}

.nav-bar {
    display: flex;
}

nav {
    margin-left: auto;
}

.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.portfolio-header {
    /* background: rgb(0, 115, 74); */
    position: fixed;
    height: 10vh;
    padding: 20px 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-header-right {
    height: 10vh;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo img {
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.section-1 {
    position: relative;

}

.typed-cursor {
    display: none !important;
}

.typed-bracket {
    color: #08fdd8;
}

#typed {
    color: #fff;
}

.sticky-social {
    position: fixed;
    top: 80%;
    left: 0px;
    padding: 0px;
    margin-left: 50px;
}

.social {
    list-style: none;
    cursor: pointer;
}

.social li {
    padding: 10px 10px;
    font-size: 25px;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}

.social li:hover {
    box-shadow: 2px 5px 10px grey;
    cursor: pointer;
}

.social li:hover .fa {
    margin-left: 20px;
}

::-webkit-scrollbar {
    display: none;
}

.port-img {
    display: flex;
    padding: 50px;
    justify-content: center;
    border: 1px solid;
    background: white;
}



.port-img {
    background-color: #ddffaa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
}


.right-div {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: 50px;
    margin-left: auto;
}
nav ul {
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 20px; 

    a {
        color: #fff;
    }
  }
  

.bold-text {
    position: relative;
    font-size: 70px;
    line-height: 120px;
    font-weight: bold;
}

.space-mono-txt {
    font-size: 50px;
}

.strike-effect {
    position: relative;
    z-index: -1;

    &::after {
        content: "";
        position: absolute;
        bottom: 22%;
        background-color: #08fdd8;
        left: 11%;
        width: 44px;
        height: 8px;
        transform: rotate(-27deg);

    }
}

.left-fixed-div {
    position: relative;
}

.img-div {
    position: fixed;
    width: 33.33%;
    margin-top: 150px;

    img {
        padding: 20px;
        filter: grayscale(100%);

    }
}

///border animation 
$duration: .50s;

.box {
    width: 70%;
    position: relative;
    cursor: pointer;

    img:hover {
        filter: grayscale(0%);
        transition: filter 0.2s ease-in;
    }
}

.box span {
    position: absolute;
    display: block;
    background: #fff;
    transition: all $duration/4 linear;
}

.box .top,
.box .bottom {
    width: 100%;
    height: 5px;
    transform: scaleX(0);
}

.box .left,
.box .right {
    width: 5px;
    height: 100%;
    transform: scaleY(0);
}

.box .top {
    top: 0;
    left: 0;
    transition-delay: $duration*3/4;
    transform-origin: top left;
}

.box .right {
    top: 0;
    right: 0;
    transition-delay: $duration/2;
    transform-origin: top left;
}

.box .bottom {
    bottom: 0;
    right: 0;
    transition-delay: $duration/4;
    transform-origin: top right;
}

.box .left {
    top: 0;
    left: 0;
    transform-origin: bottom left;
}

.box:hover {
    .top {
        transition-delay: 0s;
    }

    .right {
        transition-delay: $duration/4;
    }

    .bottom {
        transition-delay: $duration/2;
    }

    .left {
        transition-delay: $duration*3/4;
    }

    .top,
    .bottom {
        transform: scaleX(1);
    }

    .left,
    .right {
        transform: scaleY(1);
    }
}


//////=========Projects Section =============/////
.spacing-div {
    margin: 50px 0 100px 0;
}
.projects-div {
    margin-top: 200px;
}

.work-grid {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-bottom: 50px;


}

.overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    padding: 20px;
    font-size: 18px;

    font-family: 'Space Mono', monospace;

}

.work-box {
    width: 100%;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: all 0.3s ease-in;
    }


    img:hover {
        cursor: pointer;

    }

    &:hover {
        .overlay {
            opacity: 1;
        }
    }
}


//////===SKILLS DIV ========//////


.skill-div {
    margin-top: 200px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 90%;
    font-family: 'Space Mono', monospace;

}

.devicons {
    font-size: 150px;
}

.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-div {
    margin-top: 100px;

    p {
        font-family: Monument-Bold;
        font-size: 80px;
        line-height: 120px;
    }
}