/*================================================
Start Important Part
==================================================*/
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  .card {
    flex: 0 0 auto;
  }
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;

  &:hover {
    background-size: 100% 88%;
  }
}

/*================================================
  End Important Part
  ==================================================*/
#menuToggle {
  display: none;

  #top,
  #bottom {
    stroke-dasharray: 30, 75.39;
    transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
  }

  svg.active #top,
  svg.active #bottom {
    stroke-dasharray: 75.39;
    stroke-dashoffset: -60;
  }

  svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
    cursor: pointer;
  }

  svg path {
    fill: none;
    stroke: #ff9f35;
    stroke-width: 1px;
  }

  label span {
    background: #fff;
    border-radius: 10px;
    height: 7px;
    margin: 7px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  }


  span:nth-of-type(1) {
    width: 50%;

  }

  span:nth-of-type(2) {
    width: 100%;
  }


  span:nth-of-type(3) {
    width: 75%;

  }


  input[type="checkbox"] {
    display: none;
  }


  input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px);
  }


  input[type="checkbox"]:checked~span:nth-of-type(2) {

    transform-origin: top;
    transform: rotatez(-45deg)
  }


  input[type="checkbox"]:checked~span:nth-of-type(3) {

    transform-origin: bottom;
    width: 50%;
    transform: translate(23px, -8px) rotatez(45deg);
  }

}

@media only screen and (max-width: 800px) {
  #fullpage-not {
    margin-top: 30px;
}
  #menuToggle {
    display: block;
  }

  #desktop-nav {
    display: none;
  }

  .line::after {
    width: 70px;
    background-color: #ff9f35;
  }


}

#menuLol {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80%;
  height: 100vh;
  box-shadow: 0 0 10px #85888C;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  background-color: #0d0d0d;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  left: 0;
}

#menuLol li {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  flex: 0;
}

#menuToggle input:checked~ul {
  transform: none;
}

#menuLol ul {
  display: flex;
}


#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.line {
  fill: none;
  stroke: #ff9f35;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


.hamburg {
  display: flex;
  width: 40px;
  height: 32px;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  position: relative;
  top: -70px;
  pointer-events: none;
}

.bash-wind {
  font-size: 14px;
}

// .terminal-panel :nth-child(1) {
//   fill: #FF605C;
// }


body.work-section>div .first-fold-web {

  h1,
  p {
    color: #121212 !important;
  }
}

body.work-section>header .header-logo {
  color: #121212;
}

body.work-section>header .orange-hover {
  color: #121212;

  &:hover {
    color: #121212 !important;
  }
}


.button_animated {
  position: relative;
  display: flex;
  max-width: 200px;
  padding: 15px 33px;
  font-family: "Roboto Mono", monospace;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #000;
  border: 2px solid #ff9f35;
  background-color: #FFFAF0;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin: 20px 0;

  &:hover {
    background-color: #ff9f35;
    color: rgb(242, 242, 242);
  }
  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}



.spotify-frame {
  -webkit-box-shadow: 4px 4px 0 #1DB954;
  box-shadow: 4px 4px 0 #1DB954;
  padding: 20px;
  border: 1px solid #1DB954;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  margin: 50px 0;
}

.project-image, .project-desc {
  grid-row: 1/2;
}

.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 2;
}

.project-box {
    text-align: end;
    border-radius: 5px;
    padding: 20px;
    background-color: #112240;
    p {
      font-size: 16px;
    }
}

.project-image {
  position: relative;
  margin: auto;
  overflow: hidden;
  z-index: 1;
  img {
    transition: all 0.5s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
  }
}

.project-image:hover img {
  transform: scale(1.1);

}
@media only screen and (max-width: 800px) {

  .project-container {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .project-image {
    width: 100%;
  }
  .project-image, 
  .project-desc {
    grid-row: auto;
    align-items: center !important;
}
  .project-box {
    text-align: center !important;

    p {
      font-size: 14px;
    }
  }

  .tech_stack_used {
    ul {
      justify-content: space-evenly;
    }
  
    img {
      margin-right: 0 !important;
    }
  }
}


.right-to-left {
  .project-box {
    text-align: end;
  }
  .project-image {
    grid-column: 1 / 7;
  }

  .project-desc {
    grid-column: 6 / -1;
    align-items: flex-end;

  }
}

.left-to-right {
  .project-box {
    text-align: start;
  }
    .project-image {
    grid-column: 6 / -1;
  }

  .project-desc {
    grid-column: 1 / 7;
    align-items: flex-start;
  }
}

.tech_stack_used {
  ul {
    display: flex;
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}

footer {
  width: 100%;
  bottom: 0;
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
  color: #f2f2f2;
}

a {
  text-decoration: none;
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  z-index: 999;
}
////pacman 

@keyframes ldio-g1whh8rsgba-1 {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}
@keyframes ldio-g1whh8rsgba-2 {
    0% { transform: rotate(180deg) }
   50% { transform: rotate(225deg) }
  100% { transform: rotate(180deg) }
}
.ldio-g1whh8rsgba > div:nth-child(2) {
  transform: translate(-15px,0);
}
.ldio-g1whh8rsgba > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #ff9f35;
  animation: ldio-g1whh8rsgba-1 1s linear infinite;
  transform-origin: 60px 60px
}
.ldio-g1whh8rsgba > div:nth-child(2) div:nth-child(2) {
  animation: ldio-g1whh8rsgba-2 1s linear infinite
}
.ldio-g1whh8rsgba > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}@keyframes ldio-g1whh8rsgba-3 {
    0% { transform: translate(190px,0); opacity: 0 }
   20% { opacity: 1 }
  100% { transform: translate(70px,0); opacity: 1 }
}
.ldio-g1whh8rsgba > div:nth-child(1) {
  display: block;
}
.ldio-g1whh8rsgba > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e15b64;
  animation: ldio-g1whh8rsgba-3 1s linear infinite
}
.ldio-g1whh8rsgba > div:nth-child(1) div:nth-child(1) { animation-delay: -0.67s }
.ldio-g1whh8rsgba > div:nth-child(1) div:nth-child(2) { animation-delay: -0.33s }
.ldio-g1whh8rsgba > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-56enegms6le {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-g1whh8rsgba {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-g1whh8rsgba div { box-sizing: content-box; }
/* generated by https://loading.io/ */
